.container {
  position: fixed;
  top: var(--nav-bar-height);

  --clip-path-X: 0;
  --clip-path-Y: 0;
}

.rearImage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  filter: var(--filter-brightness);
}


.bigImage {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  clip-path: circle(3.83% at var(--clip-path-X) var(--clip-path-Y));
}

.tileContainer {
  padding-top: 8px;
}
