* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #222222;
  color: #EEEEEE;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  padding-top: var(--body-padding-top);
}

a {
  color: inherit;
  text-decoration: none;
}
